extends ./layout/index

block contenido
    main.container.mt-5
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg" alt="Imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina} 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus ultricies massa. Mauris lacinia massa id nunc luctus pellentesque. Nulla sapien mauris, bibendum vel est eget, vulputate porta nisi. Aliquam imperdiet viverra aliquet. Ut ligula mauris, mattis nec sem et, blandit volutpat tellus. Nullam sapien sem, malesuada vitae euismod sed, hendrerit nec libero. 

                p Sed fringilla ex quis eros dictum, id pretium eros semper. Etiam ac augue at purus suscipit convallis ac quis libero. Donec sit amet purus eget nunc accumsan sodales. Sed scelerisque neque sed laoreet ultricies. Proin eu risus fringilla leo fringilla facilisis. 

                p Donec commodo varius ligula ut aliquam. Vestibulum ut libero consequat lectus aliquet fermentum. Ut pellentesque ante sodales nisi dictum aliquet. Vestibulum ante ipsum primis infaucibus orci luctus et ultrices posuere cubilia curae; Donec 

    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magni harum voluptatibus nam repellat assumenda corrupti iure libero esse neque. Deserunt laboriosam sed cumque est sint delectus libero velit. Rem?
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magni harum voluptatibus nam repellat assumenda corrupti iure libero esse neque. Deserunt laboriosam sed cumque est sint delectus libero velit. Rem?
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magni harum voluptatibus nam repellat assumenda corrupti iure libero esse neque. Deserunt laboriosam sed cumque est sint delectus libero velit. Rem?